  h2 {
    font-size: 15px; 
  }

  body {
    padding: 0px 2px;
  }
  
  label {
    font-weight: bold;
  }

  .dot {
    cursor: pointer;
  }
  
  .dot:hover {
    fill: grey;
  }
  
  .axis-label {
    font-size: 15px;
    font-weight: bold;
    fill: black;
    text-anchor: middle;
  }
  